.content-meta {
  margin-top: 0;
  color: var(--gray);
  font-size: 0.85rem;

  // Make time elements darker but not edit buttons
  > span:not(#edit-btn-container),
  > time {
    opacity: 0.5;
  }

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .edit-btn {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }
  }
}
